{% extends "layout.html" %}
{% block content %}


        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">


                <div class="row layout-top-spacing">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h4>Insights From VACCESS</h4>
                            <big><p>Please check frequently for updates regarding our algorithm, COVID-19 and more.</p></big>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h5>Distribution Supply Statistics</h5>
                            <p>
                                The international forum looked at first responders per 1,000 people (for police, fire, and ems.)  The Henry J. Kaiser Family Foundation (KFF) uses John Hopkins University Coronavirus Resource Center to display the global map of confirmed cases and deaths, trends, and table.  KFF is also using polling data to get information on adults who are required to go to work - which puts them at a higher risk of infection.

                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h5>Algorithm Updates</h5>
                            <p>
                                Our goal is to leverage big data through collaborating with numerous stakeholders to prescribe future distribution efforts and scale up at a global level to allocate stocks to countries around the world.
                            </p>
                            <p>
                                <b>Algorithm update (April 10, 2020, 6.48pm):</b>
                                <br/>Given that we are lacking access to a data source that reports 65+ individuals at a county-level, we decided to not take it into account in our algorithm. If your organization would like to contribute to the algorithm, please submit data source to hello@vaccess.co. 
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h5>Current COVID-19 News</h5>
                            <p>
                                COVID-19 videos and latest news articles; Your source for the latest news on COVID-19 .  “No return to ‘normality’ until coronavirus vaccine is available, Trudeau says” by Beatrice Britneff, Posted April 10, 2020 3:30 pm  “Coronavirus: 23 inmates, 3 staff infected as COVID-19 outbreak in B.C. prison worsens” by  Simon Little and Srushti Gangdev, posted April 10, 2020, 1.37pm. 
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h5>Risk Factors</h5>
                            <p>
Vaccines manufacturing is a biological process where a very high level of expertise is required. We need to continually adapt the production process to satisfy evolving regulatory demand which varies country by country. 

Priority:
those that will likely die without immediate treatment but are likely to survive with treatment; 
those that will suffer without immediate treatment but likely will not die; and 
those for whom treatment will likely provide no benefit or will have a very minimal benefit.

                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget">
                            <h5>Vaccine Manufacturing Information</h5>
                            <p>
Manufacturing vaccines is a complex journey.

Optimization of virus growth conditions: The vaccine manufacturer takes the hybrid vaccine virus that it has received from the WHO laboratories, and tests different growth conditions in eggs to find the best conditions. This process requires roughly three weeks.
Vaccine bulk manufacture: For most influenza vaccine production, this is performed in nine to twelve-days old fertilized hen's eggs. The vaccine virus is injected into thousands of eggs, and the eggs are then incubated for two to three days during which time the virus multiplies. The egg white, which now contains many millions of vaccine viruses, is then harvested, and the virus is separated from the egg white. The partially pure virus is killed with chemicals. The outer proteins of the virus are then purified and the result is several hundred or thousand liters of purified virus protein that is referred to as antigen, the active ingredient in the vaccine. Producing each batch, or lot, of antigen takes approximately two weeks, and a new batch can be started every few days. The size of the batch depends on how many eggs a manufacturer can obtain, inoculate and incubate.

                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <!--  END CONTENT AREA  -->

{% endblock %}        













       