{% extends "layout.html" %}
{% block content %}


        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">


                <div class="row layout-top-spacing">
                    
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget widget-chart-three">
                            <div class="widget-heading">
                                <div class="">
                                    <h5 class="">The VACCESS Algorithm</h5>
                                </div>

                                <!--
                                <div class="dropdown  custom-dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" id="uniqueVisitors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="uniqueVisitors">
                                        <a class="dropdown-item" href="javascript:void(0);">View</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Update</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Download</a>
                                    </div>
                                </div>
                                -->
                            </div>

                            <div class="widget-content">
                                <div id="uniqueVisits"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 layout-spacing">
                        <div class="widget">
                            <h4>Critical Data</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi est metus, gravida sit amet eros at, egestas interdum urna. Nulla ornare leo non est imperdiet pretium. Phasellus suscipit lectus vel nulla sollicitudin sagittis. In a pharetra nisi. Vivamus nunc turpis, accumsan vitae augue sed, lacinia laoreet massa. Integer id pharetra arcu. Ut a velit nibh. Proin porta justo a nibh auctor, quis luctus velit ullamcorper. Pellentesque consequat tellus sed urna fringilla cursus. Nam at lacus nec massa auctor rhoncus non non libero. Morbi eget lobortis turpis. Duis eu vehicula leo.
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

{% endblock %}        













       